---
import '../styles/global.css';
const today = new Date();
---

<footer class="grid grid-cols-3 gap-4 bg-gray-100 py-4 border-t border-gray-300 rounded-4xl">
	<div class="px-7">
	<p>Middlebrook School<br>
131 School RoadWilton, CT 06897<br></p>
	
	</div>
	<div class="flex justify-center items-center">
		<a href="https://www.parentsquare.com/8green" target="_blank" rel="noopener noreferrer">
		<img src="https://files.smartsites.parentsquare.com/8864/footer_logo_img_ajn5o93fq7j43hdakme.png" alt="logo" width="200" height="300" aria-hidden="true" class=""/>
		<p class="text-left text-black"> Copyright &copy; {today.getFullYear()} 8 Green. All rights reserved.</p>
		</a>
		</a>
	</div>
</footer>